<section class="block">
  <div class="container">
    <div class="block__heading">
      <h2 class="block__header">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rem
        corrupti ab architecto sunt. Ducimus magnam et.
      </p>
    </div>
  </div>
</section>
<section class="block darker--block block--skewd-left">
  <div class="container">
    <div class="block__heading">
      <h2 class="block__header">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rem
        corrupti ab architecto sunt. Ducimus magnam et nostrum beatae
        perferendis, reprehenderit, rem harum aliquid similique animi dolores,
        doloremque consequuntur saepe? Nemo nobis alias suscipit ut temporibus!
        Error deleniti culpa veritatis.
      </p>
    </div>
  </div>
</section>
<section class="block darker--block block--skewd-right">
  <div class="container">
    <div class="block__heading">
      <h2 class="block__header">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rem
        corrupti ab architecto sunt. Ducimus magnam et nostrum beatae
        perferendis, reprehenderit, rem harum aliquid similique animi dolores,
        doloremque consequuntur saepe? Nemo nobis alias suscipit ut temporibus!
        Error deleniti culpa veritatis.
      </p>
    </div>
  </div>
</section>
