<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">Item 1</h3>
    <svg class="icon icon--white">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list list--tick">
      <li class="list__item">Unlimited Websites</li>
      <li class="list__item">Unlimited Bandwidth</li>
      <li class="list__item">100 GB SSD Storage</li>
      <li class="list__item">3 GB RAM</li>
    </ul>
  </div>
</div>
