<section class="block container domain-container">
  <h2 class="block__header">The best webhosting Starting at per month</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam dolore quae
    voluptatibus nulla eos iusto sunt.
  </p>
  <div class="input-group">
    <input
      type="text"
      class="input"
      placeholder="Enter domain name here . . ."
    />
    <button class="btn btn--accent align-horizontally">
      <svg class="icon icon--primary input__icon">
        <use xlink:href="images/sprite.svg#search"></use></svg
      ><span class="word">Search</span>
    </button>
  </div>
  <ul class="list list--inline block-donmain__prices">
    <li>.com $9.26</li>
    <li class="bage bage--small bage--secondary">.sg $7.91</li>
    <li>.space $12.98</li>
    <li>.info $14.15</li>
    <li>.net $16.15</li>
    <li>.xyz $10.15</li>
  </ul>
</section>
