<footer class="block darker--block">
  <div
    class="footer__wrapper container grid grid-container-1x5 footer-grid-container"
  >
    <!--1-->
    <section class="footer__section collapsible">
      <div class="collapsible__header">
        <h3 class="collapsible__heading">PRODUCTS</h3>
        <svg class="icon icon--white nav__toggler">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">WordPress Hosting</li>
          <li class="list__item">Free Automated WordPress</li>
          <li class="list__item">Migrations</li>
          <li class="list__item">Domain Names</li>
          <li class="list__item">Monthly Web Hosting</li>
        </ul>
      </div>
    </section>
    <!--2-->
    <section class="footer__section collapsible">
      <div class="collapsible__header">
        <h3 class="collapsible__heading">COMPANY</h3>
        <svg class="icon icon--white nav__toggler">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">About</li>
          <li class="list__item">Affiliates</li>
          <li class="list__item">Blog</li>
          <li class="list__item">Careers</li>
          <li class="list__item">Community</li>
          <li class="list__item">News</li>
          <li class="list__item">Green Hosting</li>
        </ul>
      </div>
    </section>
    <!--3-->
    <section class="footer__section collapsible">
      <div class="collapsible__header">
        <h3 class="collapsible__heading">SUPPORT</h3>
        <svg class="icon icon--white nav__toggler">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">Contact</li>
          <li class="list__item">Knowledge Base</li>
          <li class="list__item">Forums</li>
          <li class="list__item">System Status</li>
          <li class="list__item">Web Hosting</li>
          <li class="list__item">DreamCompute</li>
        </ul>
      </div>
    </section>
    <!--4-->
    <section class="footer__section collapsible">
      <div class="collapsible__header">
        <h3 class="collapsible__heading">DOMAINS</h3>
        <svg class="icon icon--white nav__toggler">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">Domain Checker</li>
          <li class="list__item">Domain Transfer</li>
          <li class="list__item">Free Domain</li>
          <li class="list__item">XYZ Domain</li>
          <li class="list__item">Cheap SSL Certificate</li>
        </ul>
      </div>
    </section>
    <!--5-->
    <div class="footer__logo">
      <a href="/" class="logo"
        ><img src="icons/logo_transparent.png" alt="logo"
      /></a>
      <p>Copyright &copy; 2020 Mohamed Shelf</p>
    </div>
  </div>
</footer>
