<div class="quote">
  <p class="quote__content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
    ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
    facilisis.
  </p>
  <div class="quote__info">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#line"></use>
    </svg>
    <div>
      <h3 class="person-name">Jhone Lumeo</h3>
      <p class="company">ABC Company</p>
    </div>
  </div>
</div>
