<div class="testemonial grid grid-container-1x2 card">
  <div class="testemonial__img">
    <span class="round-icon-container round-icon--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#quotes"></use>
      </svg>
    </span>
    <img src="images/mand-holding-cup.jpg" alt="a happy, smylling customer" />
  </div>
  <quoteblock class="quote">
    <p class="quote__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
      facilisis.
    </p>
    <div class="quote__info">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
      <div>
        <h3 class="person-name">Jhone Lumeo</h3>
        <p class="company">ABC Company</p>
      </div>
    </div>
  </quoteblock>
</div>
